.form-list-input {
  display: block;
}

.form-list-text--empty {
  color: #ccc;
  font-style: italic;
}

.form-list-text,
.form-list-text--empty {
  margin-left: 15px;
  margin-bottom: 5px;
}

.form-list-label {
  font-weight: 600;
}