.app-body {
  display: flex;
  min-height: 400px;
  justify-content: center;
}

h3 {
  font-size: 1.25em;
  color: #000;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .66em;
  margin-top: 30px;
  text-align: left;
}

.app-body-container {
  width: 500px;
  padding: 0 30px;
}