@media (min-width: 480px) {
  .app-subheader {
    font-size: 1.125em;
    line-height: 28px;
  }
}

.app-subheader {
  background-color: #0f4097;
  line-height: 20px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.app-subheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 0 30px;
}

.app-subheader__link {
    border-bottom: 1px solid #3b99fc;
    outline: none;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
}
