.student-form {
  width: 100%;
}

.student-form-select {
  width: 500px;
}

@media (max-width: 530px) {
  .student-form-select {
    width: 90vw;
  }
}

.student-form-button {
  margin: 40px 0;
  color: #fff;
  background-color: #2a5db7;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: .14rem;
  transition: all .2s linear;
}

.student-form-button:hover {
  background-color: #2a5db7;
  box-shadow: 0 .1rem .4rem rgba(0,0,0,0.2), 0 .1rem .4rem rgba(0,0,0,0.2);
}

.student-form-button:focus {
  outline: none;
}

.student-form-list span {
  margin-left: 1em;
}

.student-form-list h4 {
  color: #9a9a9a;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.student-form-list-item {
  display: flex;
  align-items: center;
}

@media (max-width: 530px) {
  .student-form-list-item {
    margin: 1rem 0;
  }

}

.student-form-list-item input {
  width: 20px;
  margin: 0 10px 0 0;
}
