.student-form-classes span {
  margin-left: 1em;
}

.student-form-classes h4 {
  color: #9a9a9a;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.student-form-button {
  margin: 40px 0;
  color: #fff;
  background-color: #4192e8;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: .14rem;
  transition: all .3s linear;
}

.student-form-button:hover {
    box-shadow: 0 .1rem .4rem rgba(0,0,0,0.2), 0 .1rem .4rem rgba(0,0,0,0.2);
  }

.student-form-button:focus {
  outline: none;
}
