.classes-list span {
  margin-left: 1em;
}

.classes-list h4 {
  color: #9a9a9a;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.classes-list-item {
  display: flex;
  align-items: center;
}

.classes-list-item input {
  width: 20px;
  margin: 0 10px 0 0;
}
