.classes-list span {
  margin-left: 1em;
}

.classes-list h4 {
  color: #9a9a9a;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.classes-list-button {
  margin: 40px 0;
  color: #fff;
  background-color: #3b99fc;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: .14rem;
  transition: all .3s linear;
}

.classes-list-button:hover {
    box-shadow: 0 .1rem .4rem rgba(0,0,0,0.2), 0 .1rem .4rem rgba(0,0,0,0.2);
  }

.classes-list-button:focus {
  outline: none;
}
