.app {
  position: relative;
  height: 100%;
  width: 100%;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1659bf;
  color: #bfdfff;
  padding: 20px 0 80px 0;
}

.app-header h1,
.app-header h2,
.app-header h3 {
  color: #fff;
}

.app-header-title {
  margin: 0;
}

.app-header-container {
  max-width: 700px;
  padding: 40px 0 25px 0;
  margin: 0 auto;
  text-align: center;
}

.app-header-subtitle {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 480px) {
  .app-header-title {
    font-size: 28px;
  }

  .app-header-subtitle {
    font-size: 16px;
  }
}

.app-nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  margin-right: 30px;
  font-size: 1.125em;
  line-height: 28px;
}

.app-nav-container {
  display: flex;
  flex-direction: row-reverse;
  color: #bfdfff;
  padding: 0;
  font-size: 13px;
}

.app-body {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.app-body-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  padding: 0 10px;
}

@media (max-width: 650px) {
  .app-body-container{
    width: 100%;
  }
}

.login-button {
  display: flex;
  color: #fff;
  text-decoration: none;
  background-color: #0c93f1;
  padding: 0 13px;
  border-radius: 5px;
}

.app-header-container i {
  font-size: 45px;
}

.helper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px inset;
  display: flex;
  font-size: 13px;
  margin-left: -20px;
  margin-right: -20px;
  overflow-x: auto;
}

.helper-container {
  max-width: 700px;
}

.helper-container-text {
  color: rgb(122, 134, 154);
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding: 15px 20px;
  text-decoration: none;
}
