.app {
  position: relative;
  height: 100%;
  width: 100%;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 0 30px;
}

.app-header {
  background-color: #007eff;
  color: #bfdfff;
  padding: 30px 0;
}

.app-header h1,
.app-header h2,
.app-header h3 {
  color: #fff;
}

.app-header p {
  font-size: 1.2em;
  margin: 0;
}

@media (min-width: 480px) {
  .app-header {
    font-size: 1.4em;
  }
}

.app-header {
  display: flex;
  justify-content: center;
  background-color: #1659bf;
  color: #bfdfff;
  padding: 30px 0;
}

.app-header-container {
  max-width: 800px;
  padding: 0 30px;
  text-align: center;
}

.app-header p {
  font-size: 1.2em;
  margin: 0;
}

@media (min-width: 480px) {
  .app-header {
    font-size: 1.4em;
  }
}

@media (min-width: 480px) {
  .app-subheader {
    font-size: 1.125em;
    line-height: 28px;
  }
}

.app-subheader {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #0f4097;
  padding: 30px 0;
  line-height: 20px;
}

.app-subheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

.app-subheader__link {
  outline: none;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.app-subheader__link:hover {
  border-bottom: 1px solid #fff;
}

.app-body {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.app-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
