.course-offerings {
  width: 100%;
}

.course-offerings-semester {
  margin: 10px 0;
}

.course-offerings-checkbox {
  display: flex;
}

.course-offerings-label {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.course-offerings-checkbox-control {
  margin-right: 10px;
}