*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: #333;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  margin: 5px 0;
}

h3 {
  font-size: 1.25em;
  color: #000;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .66em;
  margin-top: 30px;
  text-align: left;
}

h2 {
  color: #495056;
}

.button {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #0c93f1;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.message {
  margin-top: 40px;
  font-style: italic;
  text-align: center;
  color: #888;
}