.course-curriculum-menu {
  display: flex;
  margin: 10px 0 20px 0;
}

.course-curriculum-menu-item {
  margin-right: 10px;
  display: flex;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
}