.classes-schedule {
  width: 700px;
}

.classes-schedule-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
}

.classes-schedule-row--gray,
.classes-schedule-row--header,
.classes-schedule-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.classes-schedule-row--gray,
.classes-schedule-row--header {
  background-color: #efefef; 
}

.classes-schedule-row-header,
.classes-schedule-header,
.classes-schedule-cell {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 116.5px;
  height: 70px;
  border: solid #ccc;
  border-width: 1px 0 0 1px;
  font-size: .8em;
  padding: 5px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classes-schedule-header {
  height: 40px;
  font-size: 1em;
  background-color: #efefef; 
}

.classes-schedule-row-header {
  font-size: 1em;
}

.classes-schedule-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(122, 134, 154);
}

.classes-schedule-link a:hover {
  color: #2684ff;
}

.classes-schedule-time {
  display: none;
  font-size: 1.1em;
  color: #9a9a9a;
}

.row-header {
  justify-content: center;
  font-size: 1em;
}

@media (max-width: 700px) {
  .classes-schedule-row--gray,
  .classes-schedule-row--header,
  .classes-schedule-row {
    flex-direction: column;
  }

  .classes-schedule-row-header,
  .classes-schedule-header,
  .classes-schedule-cell {
    width: 100%;
  }

  .classes-schedule-time {
    display: block;
  }

  .classes-schedule-header:first-child,
  .row-header {
    display: none;
  }

  .tuesday {
    order: 1;
  }

  .wednesday {
    order: 2;
  }

  .thursday {
    order: 3;
  }

  .friday {
    order: 4;
  }

  .classes-schedule {
    width: 100%;
  }
}